@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Condensed:wght@300;400;700&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html{
  /* overflow:hidden; */
  --scrollbarOpacity: 0;
  --scrollbarColor:green;
  --scrollbarBoxShadow: none;
}

html *::-webkit-scrollbar-thumb {
  background: var(--scrollbarColor);
  box-shadow: var(--scrollbarBoxShadow);
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  display: 'flex';
  min-height: '100vh';
  height: 'fit-content';
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

* { box-sizing: border-box; }

/* END RESET */

:root {
  font-family: 'Merriweather', sans-serif;
  font-size: 50%;
  /* background: rgb(255,255,255);
/* Zevy added background gradient for stripe pattern *you're welcome */
/* background: repeating-linear-gradient(90deg, #FEE5E5, #FEE5E5 15vmin, #FFFFFF 20px, #FFFFFF 20vmin); */
}

h1, h2, h3 {
  color: #373F41;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 7rem;
  font-weight: 700;
  /* margin-bottom: 3rem; */
}

/* Added by Zevy */
.titleHeader{
  margin: 0;
}

h2 {
  color: #3C64B1;
  font-size: 3rem;
  line-height: 1.5;
  text-transform: uppercase;
  /* Added by Zevy */
  /* margin: 2rem; */
}

h3 {
  font-size: 5.5rem;
  line-height: 1;
  /* Added by Zevy */
  margin-bottom: 2rem;
}

/* Added by Zevy */
.copyright{
  margin: 10vmax 0;
}

.copyrighttext {
  font-size: 2.2rem;
}


p {
  color: #737B7D;
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 4rem;
}

.container {
  padding: 100px 2%;
  /* In case you like center aligned * Zevy*/
  /* text-align: center */
  
}

.logo {
  margin-bottom: 8vmin;
  width: 10rem;  
}

.titlePicture {
  /* adjusted by Zevy */
  /* margin: 3rem 0; */
  width: 275px;
  margin:3rem 0;
}

.contact{
  margin: 5vmin 0;
}

.rule{
  background:#B8C5D0;
      width: 44vmin;
    height: 3px;
    margin-bottom: 10vmin;
}

.contactText{
  display: inline-block;
  margin:0;
  line-height: :0;
  margin-right: 3vmin;
  margin-bottom: 2rem;
}

.links{
  display: inline-flex;
  width: 50%;
}
.icons{
  margin: 2rem;
  margin-left: 0;
  padding: 0;
  height:4rem;
  color: #DF8E47;
  cursor: pointer;
  vertical-align: middle;
  margin-top:0;
}

.icons:hover{
  color: #B67032;
}

/* .hero .links{
  width: 5vmin;
  height: 5vmin;
  display: inline-block;
  
} */


.about {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  margin-top: 3rem;
}

.about p {
  font-size: 2.2rem;
}

.about img {
  width: 300px;
}

a {
  color: #3C64B1;
}

a:hover {
  color: #000000;
}

@media (min-width: 650px) {
  .container {
    padding: 100px 20vw;
  }
  .about {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 300px 2fr;
    margin-top: 3rem;
  }
}